*{
    margin: 0;
  }
  
.block_accueil{
    background-image: url(img/accueil_fond_transparent.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}



.maelys{
    font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
    color: black;
    font-size: 8rem;
    margin-top: 121px;
    position: absolute;
}

.job, .lieu{
    position: absolute;
}

.job{
    font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
    margin-top: 277px;
    margin-left: 47vw;
    font-size: 2.5rem;
}

.lieu{
    margin-top: 323px;
    margin-left: 62vw;
    font-size: 1.313rem;
}


/* Caroussel */
.caroussel{
    width: 100vw;
    margin-top: 450px;
    min-width: 200px;
    overflow: hidden;
}

.images{
    display: flex;
    height: 240px;
    animation-duration: 35s ;
    animation-name: slider;
    animation-iteration-count:infinite;
}

@keyframes slider{
    0%{
        transform: translateX(0);
    }
    16%{
        transform: translateX(-320px);
    }
    32%{
        transform: translateX(-640px);
    }
    48%{
        transform: translateX(-960px);
    }
    64%{
        transform: translateX(-1280px);
    }
    80%{
        transform: translateX(-1600px);
    }
    100%{
        transform: translateX(-1920px);
        animation-iteration-count: infinite;
    }
}




/* déroulant */
.block_deroulant{
    display: flex;
}

.block_deroulant li{
    display: block;
    text-align: center;
    line-height: 40px;
}

.maps{
    width: 32vw;
    padding-left: 39px;
    min-width: 375px;
}

.clic_map{
    display: flex;
    font-size: 1rem;
    font-style: italic;
    width: 32vw;
    padding-left: 39px;
    min-width: 375px;
    justify-content: center;
}

.texte_deroulant{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.etude{
    text-align: center;
}

.plus2{
    margin-left: 83vw;
    text-align: center;
    padding: 1.5px;
    text-decoration: underline;
    color: #00011E; 
    display: block; 
    border: 1px dotted #6D071A; 
    font-style: italic;
}


.block_plus{
    width: 360px;
    border:1px dotted black ;
    margin: auto;
}

/* VERSION TABLETTE-TELEPHONE */

/* BlLOCK ACCUEIL*/
@media (max-width: 742px){
    .arrow{
        display: none;
    }
    .block_accueil{
        background-image: url(img/accueil_fond_transparent_mobile_n1.jpg);
    }
    .maelys{
        font-size: 6rem;

    }

    .job{
        font-size: 2.3rem;
        margin-left: 28vw;
    }

    .images{
        height: 164px;
    }

}

/* TELEPHONE */
@media (max-width: 481px){
    .block_accueil{
        background-image: url(img/accueil_fond_transparent_mobile.jpg);
        background-position: top;
    }

    .maelys{
        font-size: 3.8rem;
         margin-top: 83px;
    }

    .job{
        font-size: 1.4rem;
        margin-top: 153px;
        margin-left: 24vw;
    }

    .lieu{
        /* display: none; */
        font-size: 0.90rem;
    margin-top: 181px;
    margin-left: 45vw;
    }


    .caroussel{
        margin-top: 274px;
        height: 50vw;
    }

    .images{
        height: 148px;
    }

}



/* BLOCK DEROULANT */
@media (max-width: 909px){
    .texte_deroulant{
        font-size: 1rem;
    }

}

@media (max-width: 891px){
    .clic_map{
        font-size: 0.9rem;
    }
}


@media (max-width: 738px){
.maps{
    padding-left: 10px;
}
}


@media (max-width: 783px){
   .block_deroulant{
    flex-direction: column-reverse;
   } 

   .texte_deroulant{
    padding-left: 0px;
   }

   .maps{
    min-width: 313px;
    display: flex;
    margin: auto;
   }

   .clic_map{
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    padding-left: 0;
}

.maps{
    padding-left: 0;
}

.block_deroulant ul{
    padding-left: 0px;
}

.texte1{
    text-align: center;
}

.plus2{
    margin: auto;
}

.secteur{
    padding-left: 10px;
    padding-right: 10px;
}
}



