*{
    margin: 0;
}

.block1{
    display: flex;
    justify-content: space-evenly;
}


h1, h2{
    font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
    color: #6D071A;
    font-size: 33px; 
    text-align: center;
}

.ligne1{
    width: 80px;
    border: #5B3D0C solid 1px;
    margin: auto;
}

.soustitre{
    font-size: 1rem;
    text-align: center;
    font-style: italic;
    padding-top: 8px;
}

.icone_reseau{
    width: 3.3vw;
    padding: 4px;
    min-width: 34px;
}

.texte1{
    line-height: 33px; 
}

.block3{
    display: flex;
    align-items: center;
}

@media (max-width: 551px){
    .block1{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .soustitre{
        font-size: 0.85rem;
    }
}
