
/* Italique */
span{
    font-size: 1.3rem;
}

/* BLOCK HORS FRAIS DE DEPLACEMENT */
.block_horsfrais{
    display: flex;
    min-height: 100vh;
}

.block_titre1{
    margin: 0;
    display: flex;
    width: 100%;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
}

.titre1, .titre2{
    font-family: 'Dancing Script', 'Cookie','Great Vibes', cursive;
    color: #6D071A;
    font-size: 2.063rem;
}

.ligne1, .ligne2{
    width: 156px;
    border: #5B3D0C solid 1px;
}

.ligne2{
    margin-top: -33px;
}

.ligne1{
    margin-top: 65px;
    position: absolute;
}



.avenir{
    position: absolute;
    margin-left: 78%;
    margin-top: 134px;
    text-align: center;
    border: #6D071A dashed 1px;
    border-radius: 50% 20% / 10% 40%;
    padding: 15px;
}

.texte_avenir{
    text-decoration: underline;
    color: #00011E; 
    display: flex;
    /* line-height: 23px; */
    font-style: italic;

}


.img{
    display: block;
    width: 160px;
}

.texte{
    text-align: center;
    margin-top: 4px;
}

.prix{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 13%;
    left: 34%;
}

/* CANIN */
.ellipse_canin{
    position: absolute;
    margin-top: 96px;
    margin-left: 6%;
    height: 226px;
}

/* BOVIN */
.ellipse_bovin{
    position: absolute;
    margin-top: 440px;
    margin-left: 9%;
    height: 226px;
}

/* FELIN */
.ellipse_felin{
    position: absolute;
    margin-top: 246px;
    margin-left: 28%;
    height: 226px;
}

/* NAC */
.ellipse_nac{
    position: absolute;
    margin-top: 403px;
    margin-left: 48%;
    height: 226px;
}

.ellipse_equin{
    position: absolute;
    margin-top: 231px;
    margin-left: 62%;
    height: 226px;
}

.ellipse_caprin{
    position: absolute;
    margin-top: 437px;
    margin-left: 79%;
    height: 226px;
}

.def_nac{
    font-style: italic;
}
/* A domicile */
.titre1, .titre2{
    margin-left: 42px;
}

.ligne2{
    margin-left: 38px;
    
}

.block_domicile{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.block_domicile li{
    display: block;
    text-align: center;
    line-height: 40px;
}

.block_domicile ul{
    padding: 0;
}

.img_zone{
    width: 40vw;
    min-width: 280px;
}

/* DIMENSION ELEMENTS EN ABSOLUTE */

@media (max-width: 727px) {
.block_horsfrais{
    min-height: 100vh;
}
}








@media (max-width: 992px) {

    .ellipse_canin{
        margin-top: 136px;
        /* baissé de 40px */
        margin-left: 1%;
        /* baissé de 5% */
    }
    
    /* BOVIN */
    .ellipse_bovin{
        margin-top: 400px;
        margin-left: 4%;
    }

    .ellipse_felin{
        margin-top: 207px;
        margin-left: 27%;
    }

    .ellipse_nac{
        margin-top: 363px;
        margin-left: 43%;
    }
    
    .ellipse_equin{
        margin-top: 159px;
        margin-left: 59%;
    }
    
    .ellipse_caprin{
        margin-top: 397px;
        margin-left: 74%;
    } 
}

@media (max-width: 740px){

    .titre1, .titre2{
        font-size: 1.5rem;
        text-align: center;
        margin-top: 43px;
    }

    .ligne1{
        margin-top: 71px;
    }

    .block_titre1{
        padding-top: 25px;
    } 

   

    .ellipse_canin{
        margin-top: 124px;
        margin-left: 5%;
    }

    .ellipse_equin{
        margin-top: 203px;
        margin-left: 55%;
    }

 /* 203 - 124 = 79 */
    .ellipse_nac{
        margin-top: 332px;
        margin-left: 5%;

    }

    .ellipse_caprin{
        margin-top: 540px;        
        margin-left: 5%;

    } 

    
    .ellipse_bovin{
        margin-top: 619px;
        margin-left: 55%;
    }

    .ellipse_felin{
        margin-top: 411px;
        margin-left: 55%;
    }

    .avenir{
        margin: auto;
        padding: 7px;
    }

    .texte_avenir{
        font-size: 0.9rem;
    }

    .def_nac{
        font-size:0.9rem;
        padding-top: 40px;
    }
    
/* FRAIS DE DEPLACEMENT */
    .titre2{
        margin: auto;
    }
    .ligne2{
        width: 80px;
        margin: auto;
    }
    .block_domicile{
        flex-direction: column-reverse;
    }
   
    .img_zone{
        padding-top: 10px;
    }




}

@media (max-width: 500px){
.prix{
    font-size: 1.4rem;
}

.img{
    width: 123px; 
    }

}