/* Italique */
span {
    font-size: 1.3rem;
}

/* BLOCK HORS FRAIS DE DEPLACEMENT */


.block_titre1 {
    margin: 0;
    display: flex;
    width: 100%;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
}

.titre1,
.titre2 {
    font-family: 'Dancing Script', 'Cookie', 'Great Vibes', cursive;
    color: #6D071A;
    font-size: 2.063rem;
}

.titre1{
    text-align: center;
}

.ligne1,
.ligne2 {
    width: 156px;
    border: #5B3D0C solid 1px;
}

.ligne2 {
    margin-top: -33px;
}

.ligne1 {
    margin-top: 65px;
    position: absolute;
}

.avenir {
    position: absolute;
    margin-left: 82%;
    margin-top: -13px;
    text-align: center;
    border: #6D071A dashed 1px;
    border-radius: 50% 20% / 10% 40%;
    padding: 15px;
}

.texte_avenir {
    text-decoration: underline;
    color: #00011E;
    display: flex;
    font-style: italic;
}

.img {
    display: block;
    width: 160px;
}

.texte {
    text-align: center;
    margin-top: 4px;
}

.prix {
text-align: center;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 13%;
    left: 34%;
}

.def_nac {
    font-style: italic;
}

.block_horsfrais {
    display: flex;
    position: relative;
    justify-content: center;
}

.ellipse {
    position: relative;
    height: 226px;
    order: 1;
}

.ellipse_canin {
    margin-top: -23px;
    margin-left: 4%;
}

.ellipse_bovin {
    margin-top: 278px;
    /* margin-left: -2%;  */
}

.ellipse_nac {
    margin-top: 85px;
margin-left: 5%;
}

.ellipse_felin {
    margin-top: 246px;
    margin-left: 9%;
}



.ellipse_equin {
    margin-top: 21px;
}

.ellipse_caprin {
    margin-top: 205px;
    margin-left: 5%;
}

/* A domicile */
.titre1,
.titre2 {
    margin-left: 42px;
}

.ligne2 {
    margin-left: 38px;
}

.block_domicile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.block_domicile li {
    display: block;
    text-align: center;
    line-height: 40px;
}

.block_domicile ul {
    padding: 0;
}

.img_zone {
    width: 40vw;
    min-width: 280px;
}


@media (max-width: 1255px){
    .ellipse_canin {
        margin-left: 2%;
    }
}

@media (max-width: 1223px){
    .ellipse_canin {
        margin-left: 0%;
    }
}

@media (max-width: 1193px){
    .ellipse_nac {
        margin-left: 2%;
    }
}

@media (max-width: 1156px){
    .ellipse_bovin {
        margin-left: -4%;
    }
}

@media (max-width: 1100px){
    .ellipse_bovin {
        margin-left: -8%;
    }
}

@media (max-width: 1054px){
    .ellipse_bovin {
        margin-left: -12%;
    }
}

@media (max-width: 1011px){
    .ellipse_felin {
        margin-left: 4%;
    }
}

@media (max-width: 962px){
    .ellipse_equin {
        margin-left: -5%;
    }
}

@media (max-width: 916px){
    .ellipse_equin {
        margin-left: -8%;
    }
}

@media (max-width: 892px){
    .ellipse_caprin {
        margin-left: 1%;
    }
}

@media (max-width: 880px){
    .avenir{
        padding: 7px;
    }
}


@media (max-width: 862px){
    .avenir{
        font-size: 1.1rem ;
    }
}


@media (max-width: 862px){
    .img{
        width: 146px;
    }

    .prix{
        font-size: 1.8rem;
    }

    
}

@media (max-width: 752px){
    .img{
        width: 140px;
    }

    .prix{
        font-size: 1.75rem;
    }
}



@media (max-width: 784px){
    .ellipse_bovin {
        margin-left: -17%;
    }
} 

/* téléphone */



@media (max-width: 741px){
    .block_horsfrais{
        flex-direction: column;
        align-items: center;
        justify-content: normal;
    }

    .avenir{
        margin-top: -125px;
        margin-left: 39px;
    }

    .ellipse_canin {
        margin-top: 0px;
        margin-left: -54%;
    }
    
    .ellipse_bovin {
        margin-top: -142px;
    margin-left: 32%;
    }
    
    .ellipse_nac {
        margin-top: -112px;
        margin-left: -36%;
    }
    
    .ellipse_felin {
        margin-top: -156px;
        margin-left: 66%;
    }
    
    
    
    .ellipse_equin {
        margin-top: -105px;
        margin-left: -67%;    }
    
    .ellipse_caprin {
        margin-top: -167px;
        margin-left: 27%;
        height: 165px;
    }

    .prix_caprin{
        margin-top: 30px;
    }


} 

@media (max-width: 539px){
    .avenir{
        margin-top: -174px;
        }
}




/* no change */
    @media (max-width: 500px){
        .prix{
            font-size: 1.4rem;
        }
        
        .img{
            width: 123px; 
            }
        
    }


    /* FRAIS DE DEPLACEMENT */
    @media (max-width: 740px) {
        /* FRAIS DE DEPLACEMENT */
        .titre2{
            text-align: center;
        }
        .ligne2{
            width: 80px;
            margin: auto;
            margin-top: -27px;
        }
        .block_domicile{
            flex-direction: column-reverse;
        }

        .img_zone{
            padding-top: 29px;
        }
    }






